.pagination {
  text-align: center;
  list-style-type: none;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  background-color: #0b1584;
  padding: 10px 0;
}
.active {
  padding: 2px 6px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
}
